:root {
    --my-color: blue;
    --my-bg-color: lightgray;
    --my-text-size: 24px;
    --my-font-family: Arial, Helvetica, sans-serif;
    --my-border: 1px solid black;
}

body {
    background-color: var(--my-bg-color);
}

.ball {
    border: var(--my-border);
    color: var(--my-color);
    font-size: var(--my-text-size);
    font-family: var(--my-font-family);
}